Finding the two top skaters for the countries to represent their country's chance at winning the gold in Figure Skating Competition at Winter Olympics 2022. Created probability distribution for each one of these skaters for the women, and another distribution for the men using Python, Numpy and Pandas Funcitons

In [1]:
import os
os.getcwd()
os.chdir("/Users/shankarasubramaniyang/Documents/Spring 2022/Data science methods and tools/Assigments/Skatingprob")

In [2]:
class ProbDist(dict): #creating a dictionary in a class
    """A Probability Distribution; an {outcome: probability} mapping."""
    def __init__(self, mapping=(), **kwargs): # defining a constructor--class inherits the dictionary
        self.update(mapping, **kwargs)
        # Make probabilities sum to 1.0; assert no negative probabilities
        total = sum(self.values()) # Take total of all values in the dictionary 
        for outcome in self:
            self[outcome] = self[outcome] / total # for every possible outcome in the dictionary divide the value by the total
            assert self[outcome] >= 0

In [3]:
def P(event, space): 
    if is_predicate(event): #transformation
        event = such_that(event, space)  #collection    
    if isinstance(space, ProbDist):
        return sum(space[o] for o in space if o in event) 
    else:
        return Fraction(len(event & space), len(space))

is_predicate = callable

def such_that(predicate, space): 
    if isinstance(space, ProbDist):
        return ProbDist({o:space[o] for o in space if predicate(o)}) 
    else:
        return {o for o in space if predicate(o)}

Importing and saving the dataset from the web link provided for men

In [4]:
import requests
import pandas as pd
pd.read_html(requests.get("https://skatingscores.com/men/").content)[-1].to_csv("Men_Skating.csv")

Reading the updated dataset after performing some data cleaning in excel

In [5]:
df_men=pd.read_csv("Men_Skating1.csv", index_col=None)
df_menup=df_men.iloc[:,1:]
df_menup.head(5)

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
0,ðŸ‡ºðŸ‡¸,Nathan Chen,0,0,2,0,0,288.28,2,132.86,...,9.23,4,8.87,4,9.08,4,9.19,4,9.12,4
1,ðŸ‡¯ðŸ‡µ,Yuma Kagiyama,0,0,2,0,0,282.22,2,125.28,...,9.04,4,8.66,4,8.81,4,8.97,4,8.88,4
2,ðŸ‡¯ðŸ‡µ,Shoma Uno,0,0,2,0,0,280.42,2,125.03,...,9.16,4,8.78,4,9.07,4,9.05,4,9.00,4
3,ðŸ‡ºðŸ‡¸,Vincent Zhou,0,1,2,0,0,280.16,3,135.84,...,8.62,6,8.50,6,8.71,6,8.71,6,8.74,6
4,ðŸ‡·ðŸ‡º,Mikhail Kolyada,0,1,2,0,0,265.06,3,123.43,...,8.86,6,8.63,6,8.66,6,8.92,6,8.77,6

Importing and saving the dataset from the web link provided for women

In [6]:
pd.read_html(requests.get("https://skatingscores.com/women/").content)[-1].to_csv("Women_Skating.csv")

Reading the updated dataset after performing some data cleaning in excel

In [7]:
df_women=pd.read_csv("Women_Skating1.csv", index_col=None)
df_womenup=df_women.iloc[:,1:]
df_womenup.head(5)

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
0,ðŸ‡·ðŸ‡º,Kamila Valieva,0,1,2,1,0,261.52,4,119.54,...,9.28,8,9.09,8,9.32,8,9.34,8,9.36,8
1,ðŸ‡·ðŸ‡º,Anna Shcherbakova,0,0,2,1,0,234.63,3,102.99,...,8.98,6,8.89,6,9.06,6,9.13,6,9.14,6
2,ðŸ‡·ðŸ‡º,Alexandra Trusova,0,0,1,1,0,233.36,2,113.15,...,8.80,4,8.51,4,8.75,4,8.78,4,8.73,4
3,ðŸ‡·ðŸ‡º,Elizaveta Tuktamysheva,0,1,2,0,0,231.80,3,104.62,...,8.76,6,8.54,6,9.13,6,9.00,6,9.19,6
4,ðŸ‡·ðŸ‡º,Sofia Akateva,2,0,0,0,0,229.36,2,117.30,...,7.80,4,7.51,4,7.88,4,7.73,4,7.80,4

Extracting the top two values for US Men skaters and converting it to a dataframe

In [8]:
newdf = df_menup[df_menup.apply(lambda x: x["Nat"] == 'ðŸ‡ºðŸ‡¸',axis=1)]
USM=newdf.nlargest(2,'MeanEventTotal')
USMdf=pd.DataFrame(USM)
USMdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
0,ðŸ‡ºðŸ‡¸,Nathan Chen,0,0,2,0,0,288.28,2,132.86,...,9.23,4,8.87,4,9.08,4,9.19,4,9.12,4
3,ðŸ‡ºðŸ‡¸,Vincent Zhou,0,1,2,0,0,280.16,3,135.84,...,8.62,6,8.50,6,8.71,6,8.71,6,8.74,6

Setting the index values and extracting just the total value

In [9]:
USMdf.set_index('Skater',inplace=True)
USMfinal=USMdf['MeanEventTotal']
USMfinal

Skater
Nathan Chen     288.28
Vincent Zhou    280.16
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two US Men skaters

In [10]:
USMDk = ProbDist(NC=USMfinal[0], VZ=USMfinal[1])
USMDk

{'NC': 0.5071423545141087, 'VZ': 0.4928576454858912}

Summing up the US men skaters value

In [11]:
USMTOTAL=USMfinal[0]+USMfinal[1]
USMTOTAL

568.44

Extracting the top two values for Japan Men skaters and converting it to a dataframe

In [12]:
newdf = df_menup[df_menup.apply(lambda x: x["Nat"] == 'ðŸ‡¯ðŸ‡µ',axis=1)]
JapanM=newdf.nlargest(2,'MeanEventTotal') 
JapanMdf=pd.DataFrame(JapanM)
JapanMdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
1,ðŸ‡¯ðŸ‡µ,Yuma Kagiyama,0,0,2,0,0,282.22,2,125.28,...,9.04,4,8.66,4,8.81,4,8.97,4,8.88,4
2,ðŸ‡¯ðŸ‡µ,Shoma Uno,0,0,2,0,0,280.42,2,125.03,...,9.16,4,8.78,4,9.07,4,9.05,4,9.00,4

Setting the index values and extracting just the total value

In [13]:
JapanMdf.set_index('Skater',inplace=True)
JapanMenFinal=JapanMdf['MeanEventTotal']
JapanMenFinal

Skater
Yuma Kagiyama    282.22
Shoma Uno        280.42
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Japan Men skaters

In [14]:
JapanMDk = ProbDist(YK=JapanMenFinal[0], SU=JapanMenFinal[1])
JapanMDk

{'YK': 0.5015996018768661, 'SU': 0.49840039812313375}

Summing up the Japan men skaters value

In [15]:
JAPANMTOTAL=JapanMenFinal[0]+JapanMenFinal[1]
JAPANMTOTAL

562.6400000000001

Extracting the top two values for China Men skaters and converting it to a dataframe

In [16]:
newdf = df_menup[df_menup.apply(lambda x: x["Nat"] == 'ðŸ‡¨ðŸ‡³',axis=1)]
ChinaM=newdf.nlargest(2,'MeanEventTotal') 
ChinaMdf=pd.DataFrame(ChinaM)
ChinaMdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
19,ðŸ‡¨ðŸ‡³,Boyang Jin,0,0,1,0,0,242.27,1,125.50,...,8.30,2,7.74,2,8.08,2,8.07,2,8.10,2
69,ðŸ‡¨ðŸ‡³,Yudong Chen,0,0,1,0,0,200.96,1,108.43,...,7.27,2,6.77,2,6.86,2,7.11,2,7.04,2

Setting the index values and extracting just the total value

In [17]:
ChinaMdf.set_index('Skater',inplace=True)
ChinaMenFinal=ChinaMdf['MeanEventTotal']
ChinaMenFinal

Skater
Boyang Jin     242.27
Yudong Chen    200.96
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two China Men skaters

In [18]:
ChinaMDk = ProbDist(BJ=ChinaMenFinal[0], YC=ChinaMenFinal[1])
ChinaMDk

{'BJ': 0.5466010874715159, 'YC': 0.4533989125284841}

Summing up the China men skaters value

In [19]:
CHINAMTOTAL=ChinaMenFinal[0]+ChinaMenFinal[1]
CHINAMTOTAL

443.23

Extracting the top two values for Italy Men skaters and converting it to a dataframe

In [20]:
newdf = df_menup[df_menup.apply(lambda x: x["Nat"] == 'ðŸ‡®ðŸ‡¹',axis=1)]
Italydf=newdf.nlargest(2,'MeanEventTotal') 
ItalyMdf=pd.DataFrame(Italydf)
ItalyMdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
12,ðŸ‡®ðŸ‡¹,Daniel Grassl,0,2,2,1,0,251.13,5,131.98,...,7.88,10,7.69,10,7.90,10,7.97,10,7.99,10
15,ðŸ‡®ðŸ‡¹,Matteo Rizzo,0,1,2,0,0,248.35,3,110.61,...,8.18,6,7.96,6,8.24,6,8.32,6,8.34,6

Setting the index values and extracting just the total value

In [21]:
ItalyMdf.set_index('Skater',inplace=True)
ItalyMenFinal=ItalyMdf['MeanEventTotal']
ItalyMenFinal

Skater
Daniel Grassl    251.13
Matteo Rizzo     248.35
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Italy Men skaters

In [22]:
ItalyMDk = ProbDist(DG=ItalyMenFinal[0], MR=ItalyMenFinal[1])
ItalyMDk

{'DG': 0.5027828942099783, 'MR': 0.4972171057900216}

Summing up the Italy men skaters value

In [23]:
ITALYMTOTAL=ItalyMenFinal[0]+ItalyMenFinal[1]
ITALYMTOTAL

499.48

Extracting the top two values for Canada Men skaters and converting it to a dataframe

In [24]:
newdf = df_menup[df_menup.apply(lambda x: x["Nat"] == 'ðŸ‡¨ðŸ‡¦',axis=1)]
CanadaM=newdf.nlargest(2,'MeanEventTotal') 
CanadaMdf=pd.DataFrame(CanadaM)
CanadaMdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
16,ðŸ‡¨ðŸ‡¦,Keegan Messing,0,2,2,0,0,247.26,4,106.51,...,8.61,8,8.34,8,8.50,8,8.56,8,8.58,8
32,ðŸ‡¨ðŸ‡¦,Roman Sadovsky,0,1,2,0,0,226.38,3,108.13,...,8.03,6,7.80,6,7.86,6,8.05,6,8.15,6

Setting the index values and extracting just the total value

In [25]:
CanadaMdf.set_index('Skater',inplace=True)
CanadaMenFinal=CanadaMdf['MeanEventTotal']
CanadaMenFinal

Skater
Keegan Messing    247.26
Roman Sadovsky    226.38
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Canada Men skaters

In [26]:
CanadaMDk = ProbDist(KM=CanadaMenFinal[0], RS=CanadaMenFinal[1])
CanadaMDk

{'KM': 0.5220420572586775, 'RS': 0.47795794274132253}

Summing up the Canada men skaters value

In [27]:
CANADAMTOTAL=CanadaMenFinal[0]+CanadaMenFinal[1]
CANADAMTOTAL

473.64

Extracting the top two values for Russia Men skaters and converting it to a dataframe

In [28]:
newdf = df_menup[df_menup.apply(lambda x: x["Nat"] == 'ðŸ‡·ðŸ‡º',axis=1)]
RussiaM=newdf.nlargest(2,'MeanEventTotal') 
RussiaMdf=pd.DataFrame(RussiaM)
RussiaMdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
4,ðŸ‡·ðŸ‡º,Mikhail Kolyada,0,1,2,0,0,265.06,3,123.43,...,8.86,6,8.63,6,8.66,6,8.92,6,8.77,6
10,ðŸ‡·ðŸ‡º,Mark Kondratiuk,0,2,1,1,0,252.40,4,122.74,...,8.13,8,7.84,8,8.14,8,8.16,8,8.25,8

Setting the index values and extracting just the total value

In [29]:
RussiaMdf.set_index('Skater',inplace=True)
RussiaMenFinal=RussiaMdf['MeanEventTotal']
RussiaMenFinal

Skater
Mikhail Kolyada    265.06
Mark Kondratiuk    252.40
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Russia Men skaters

In [30]:
RussiaMDk = ProbDist(MiK=RussiaMenFinal[0], MaK=RussiaMenFinal[1])
RussiaMDk

{'MiK': 0.5122328295906929, 'MaK': 0.48776717040930695}

Summing up the Russia men skaters value

In [31]:
RUSSIAMTOTAL=RussiaMenFinal[0]+RussiaMenFinal[1]
RUSSIAMTOTAL

517.46

Calculating the final men skaters probability for each country and we could infer that Team US men has the most chances (18.5%) of winning the event and Team China Men has the least chances (14.4%) of winning the event.

In [32]:
MENPROB=ProbDist(USM=USMTOTAL,JAPANM=JAPANMTOTAL, CHINAM=CHINAMTOTAL,ITALYM=ITALYMTOTAL,CANADAM=CANADAMTOTAL,RUSSIAM=RUSSIAMTOTAL)
MENPROB

{'USM': 0.1854683202333526,
 'JAPANM': 0.18357591952729138,
 'CHINAM': 0.1446153043012963,
 'ITALYM': 0.1629683283902522,
 'CANADAM': 0.1545373569687656,
 'RUSSIAM': 0.168834770579042}

Extracting the top two values for US Women skaters and converting it to a dataframe

In [33]:
newdf = df_womenup[df_womenup.apply(lambda x: x["Nat"] == 'ðŸ‡ºðŸ‡¸',axis=1)]
USW=newdf.nlargest(2,'MeanEventTotal')
USWdf=pd.DataFrame(USW)
USWdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
13,ðŸ‡ºðŸ‡¸,Alysa Liu,0,2,2,0,0,209.02,4,97.68,...,8.30,8,8.16,8,8.4,8,8.41,8,8.42,8
15,ðŸ‡ºðŸ‡¸,Isabeau Levito,2,0,0,0,0,205.33,2,92.94,...,7.62,4,7.59,4,7.8,4,7.72,4,7.92,4

Setting the index values and extracting just the total value

In [34]:
USWdf.set_index('Skater',inplace=True)
USWfinal=USWdf['MeanEventTotal']
USWfinal

Skater
Alysa Liu         209.02
Isabeau Levito    205.33
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two US Women skaters

In [35]:
USWDk = ProbDist(AL=USWfinal[0], IL=USWfinal[1])
USWDk

{'AL': 0.504452757330759, 'IL': 0.495547242669241}

Summing up the USA Women skaters value

In [36]:
USWTOTAL=USWfinal[0]+USWfinal[1]
USWTOTAL

414.35

Extracting the top two values for Japan Women skaters and converting it to a dataframe

In [37]:
newdf = df_womenup[df_womenup.apply(lambda x: x["Nat"] == 'ðŸ‡¯ðŸ‡µ',axis=1)]
JapanW=newdf.nlargest(2,'MeanEventTotal') 
JapanWdf= pd.DataFrame(JapanW)
JapanWdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
5,ðŸ‡¯ðŸ‡µ,Kaori Sakamoto,0,0,2,0,0,219.64,2,92.44,...,9.00,4,8.61,4,8.93,4,8.84,4,8.84,4
9,ðŸ‡¯ðŸ‡µ,Mai Mihara,0,0,2,1,0,214.33,3,95.13,...,8.19,6,8.00,6,8.33,6,8.24,6,8.24,6

Setting the index values and extracting just the total value

In [38]:
JapanWdf.set_index('Skater',inplace=True)
JapanWfinal=JapanWdf['MeanEventTotal']
JapanWfinal

Skater
Kaori Sakamoto    219.64
Mai Mihara        214.33
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Japan Women skaters

In [39]:
JapanWDk = ProbDist(KS=JapanWfinal[0], MM=JapanWfinal[1])
JapanWDk

{'KS': 0.5061179344194299, 'MM': 0.4938820655805701}

Summing up the Japan Women skaters value

In [40]:
JAPANWTOTAL=JapanWfinal[0]+JapanWfinal[1]
JAPANWTOTAL

433.97

Extracting the top two values for China Women skaters and converting it to a dataframe. Since there is only one skater present in the table, we will manually add the other skaters total.

In [41]:
newdf = df_womenup[df_womenup.apply(lambda x: x["Nat"] == 'ðŸ‡¨ðŸ‡³',axis=1)]
ChinaW=newdf.nlargest(2,'MeanEventTotal') 
ChinaWdf= pd.DataFrame(ChinaW)
ChinaWdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
54,ðŸ‡¨ðŸ‡³,Yi Zhu,0,0,1,0,0,171.25,1,79.86,...,7.23,2,6.8,2,7.09,2,7.1,2,7.02,2

Setting the index values and extracting just the total value

In [42]:
ChinaWdf.set_index('Skater',inplace=True)
ChinaWfinal=ChinaWdf['MeanEventTotal']
ChinaWfinal

Skater
Yi Zhu    171.25
Name: MeanEventTotal, dtype: float64

In [43]:
ChinaWfinal['Shan Ashley Lin']=157.85
ChinaWfinal

<ipython-input-43-39bc9b1f9b88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ChinaWfinal['Shan Ashley Lin']=157.85

Skater
Yi Zhu             171.25
Shan Ashley Lin    157.85
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two China Women skaters

In [44]:
ChinaWDk = ProbDist(YZ=ChinaWfinal[0], SAL=ChinaWfinal[1])
ChinaWDk

{'YZ': 0.5203585536311152, 'SAL': 0.4796414463688848}

Summing up the China Women skaters value

In [45]:
CHINAWTOTAL=ChinaWfinal[0]+ChinaWfinal[1]
CHINAWTOTAL

329.1

Extracting the top two values for Italy Women skaters and converting it to a dataframe.

In [46]:
newdf = df_womenup[df_womenup.apply(lambda x: x["Nat"] == 'ðŸ‡®ðŸ‡¹',axis=1)]
ItalyW=newdf.nlargest(2,'MeanEventTotal') 
ItalyWdf=pd.DataFrame(ItalyW)
ItalyWdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
69,ðŸ‡®ðŸ‡¹,Lara Naki Gutmann,0,2,1,1,0,163.54,4,78.58,...,6.86,8,6.7,8,6.76,8,6.98,8,6.86,8
99,ðŸ‡®ðŸ‡¹,Lucrezia Beccari,0,0,1,0,0,148.29,1,74.46,...,6.80,2,6.7,2,6.60,2,6.86,2,6.82,2

Setting the index values and extracting just the total value

In [47]:
ItalyWdf.set_index('Skater',inplace=True)
ItalyWfinal=ItalyWdf['MeanEventTotal']
ItalyWfinal

Skater
Lara Naki Gutmann    163.54
Lucrezia Beccari     148.29
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Italy Women skaters

In [48]:
ItalyWDk = ProbDist(LNG=ItalyWfinal[0], LB=ItalyWfinal[1])
ItalyWDk

{'LNG': 0.5244524260013469, 'LB': 0.4755475739986531}

Summing up the Italy Women skaters value

In [49]:
ITALYWTOTAL=ItalyWfinal[0]+ItalyWfinal[1]
ITALYWTOTAL

311.83

Extracting the top two values for Canada Women skaters and converting it to a dataframe

In [50]:
newdf = df_womenup[df_womenup.apply(lambda x: x["Nat"] == 'ðŸ‡¨ðŸ‡¦',axis=1)]
CanadaW=newdf.nlargest(2,'MeanEventTotal') 
CanadaWdf=pd.DataFrame(CanadaW)
CanadaWdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
36,ðŸ‡¨ðŸ‡¦,Madeline Schizas,0,1,2,0,0,187.81,3,88.31,...,7.47,6,7.27,6,7.54,6,7.56,6,7.53,6
45,ðŸ‡¨ðŸ‡¦,Kaiya Ruiter,2,0,0,0,0,178.76,2,89.95,...,6.90,4,6.68,4,6.99,4,6.99,4,7.04,4

Setting the index values and extracting just the total value

In [51]:
CanadaWdf.set_index('Skater',inplace=True)
CanadaWfinal=CanadaWdf['MeanEventTotal']
CanadaWfinal

Skater
Madeline Schizas    187.81
Kaiya Ruiter        178.76
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Canada Women skaters

In [52]:
CanadaWDk = ProbDist(MS=CanadaWfinal[0], KR=CanadaWfinal[1])
CanadaWDk

{'MS': 0.5123441634612762, 'KR': 0.48765583653872385}

Summing up the Canada Women skaters value

In [53]:
CANADAWTOTAL=CanadaWfinal[0]+CanadaWfinal[1]
CANADAWTOTAL

366.57

Extracting the top two values for Russia Women skaters and converting it to a dataframe

In [54]:
newdf = df_womenup[df_womenup.apply(lambda x: x["Nat"] == 'ðŸ‡·ðŸ‡º',axis=1)]
RussiaW=newdf.nlargest(2,'MeanEventTotal') 
RussiaWdf=pd.DataFrame(RussiaW)
RussiaWdf

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
0,ðŸ‡·ðŸ‡º,Kamila Valieva,0,1,2,1,0,261.52,4,119.54,...,9.28,8,9.09,8,9.32,8,9.34,8,9.36,8
1,ðŸ‡·ðŸ‡º,Anna Shcherbakova,0,0,2,1,0,234.63,3,102.99,...,8.98,6,8.89,6,9.06,6,9.13,6,9.14,6

Setting the index values and extracting just the total value

In [55]:
RussiaWdf.set_index('Skater',inplace=True)
RussiaWfinal=RussiaWdf['MeanEventTotal']
RussiaWfinal

Skater
Kamila Valieva       261.52
Anna Shcherbakova    234.63
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Russian Women skaters

In [56]:
RussiaWDk = ProbDist(KV=RussiaWfinal[0], AS=RussiaWfinal[1])
RussiaWDk

{'KV': 0.5270986596795324, 'AS': 0.4729013403204676}

Summing up the Russian Women skaters value

In [57]:
RUSSIAWTOTAL=RussiaWfinal[0]+RussiaWfinal[1]
RUSSIAWTOTAL

496.15

Calculating the final women skaters probability for each country and we could infer that Team Russia women has the most chances (21.09%) of winning the event and Team Italy Women has the least chances (13.25%) of winning the event.

In [58]:
WOMENPROB=ProbDist(USW=USWTOTAL,JAPANW=JAPANWTOTAL, CHINAW=CHINAWTOTAL,ITALYW=ITALYWTOTAL,CANADAW=CANADAWTOTAL,RUSSIAW=RUSSIAWTOTAL)
WOMENPROB

{'USW': 0.1761714647720847,
 'JAPANW': 0.18451340790911452,
 'CHINAW': 0.13992525414864987,
 'ITALYW': 0.13258247341590243,
 'CANADAW': 0.15585657980331383,
 'RUSSIAW': 0.21095081995093476}

Joining the men and women probability to get the all possible outcomes

In [59]:
def joint(A, B, sep=''):
    """The joint distribution of two independent probability distributions. 
    Result is all entries of the form {a+sep+b: P(a)*P(b)}"""
    return ProbDist({a + sep + b: A[a] * B[b]   #a+b as concatenation of keys and probability as product of probability
                    for a in A
                    for b in B})
MM = joint(MENPROB, WOMENPROB, ' ')
MM

{'USM USW': 0.032674225644327794,
 'USM JAPANW': 0.03422139182543486,
 'USM CHINAW': 0.025951701845175038,
 'USM ITALYW': 0.024589848636830544,
 'USM CANADAW': 0.028906458053436078,
 'USM RUSSIAW': 0.039124694228148266,
 'JAPANM USW': 0.03234083864000526,
 'JAPANM JAPANW': 0.03387221852202989,
 'JAPANM CHINAW': 0.025686907195428335,
 'JAPANM ITALYW': 0.024338949470526946,
 'JAPANM CANADAW': 0.028611514951772,
 'JAPANM RUSSIAW': 0.03872549074752893,
 'CHINAM USW': 0.025477089987220123,
 'CHINAM JAPANW': 0.0266834626324458,
 'CHINAM CHINAW': 0.02023533320814322,
 'CHINAM ITALYW': 0.019173454738059252,
 'CHINAM CANADAW': 0.022539246715615496,
 'CHINAM RUSSIAW': 0.030506717019812387,
 'ITALYM USW': 0.028710369123968838,
 'ITALYM JAPANW': 0.030069841652537125,
 'ITALYM CHINAW': 0.022803384768186667,
 'ITALYM ITALYW': 0.021606744066434664,
 'ITALYM CANADAW': 0.02539968627916799,
 'ITALYM RUSSIAW': 0.034378302499956895,
 'CANADAM USW': 0.027225072539193963,
 'CANADAM JAPANW': 0.028514214383574283,
 'CANADAM CHINAW': 0.02162367894931515,
 'CANADAM ITALYW': 0.020488945022075187,
 'CANADAM CANADAW': 0.024085663908995608,
 'CANADAM RUSSIAW': 0.0325997821656114,
 'RUSSIAM USW': 0.029743868837368695,
 'RUSSIAM JAPANW': 0.03115227889309254,
 'RUSSIAM CHINAW': 0.023624248182401438,
 'RUSSIAM ITALYW': 0.02238453148197582,
 'RUSSIAM CANADAW': 0.026314009894326633,
 'RUSSIAM RUSSIAW': 0.03561583328987686}

Probability for the US to win both the men's and the women's event?

In [60]:
USmen=MENPROB['USM']
USwomen=WOMENPROB['USW']
US_win_both=USmen*USwomen
US_win_both

0.0326742256443278

The probability of US to win both the events is 3.26%

Probability for the US to win at least one of these two events?

In [61]:
US_win_atleastone= 1-(1-USmen) * (1-USwomen)
US_win_atleastone

0.3289655593611095

The probability of US to win atleast one of the two events is 32.89%

Probability for the China to win both the men's and the women's event?

In [62]:
Chinamen=MENPROB['CHINAM']
Chinawomen=WOMENPROB['CHINAW']
China_win_both=Chinamen*Chinawomen
China_win_both

0.020235333208143223

Probability for the China to win at least one of these two events

In [63]:
China_win_atleastone= 1-(1-Chinamen) * (1-Chinawomen)
China_win_atleastone

0.264305225241803

Probability for the Japan to win both the men's and the women's event?

In [64]:
Japanmen=MENPROB['JAPANM']
Japanwomen=WOMENPROB['JAPANW']
Japan_win_both=Japanmen*Japanwomen
Japan_win_both

0.033872218522029894

Probability for Japan to win at least one of these two events

In [65]:
Japan_win_atleastone= 1-(1-Japanmen) * (1-Japanwomen)
Japan_win_atleastone

0.33421710891437595

Probability for Italy to win both the men's and the women's event?

In [66]:
Italymen=MENPROB['ITALYM']
Italywomen=WOMENPROB['ITALYW']
Italy_win_both=Italymen*Italywomen
Italy_win_both

0.021606744066434667

Probability for Italy to win at least one of these two events

In [67]:
Italy_win_atleastone= 1-(1-Italymen) * (1-Italywomen)
Italy_win_atleastone

0.27394405773971997

Probability for Russia to win both the men's and the women's event?

In [68]:
Russiamen=MENPROB['RUSSIAM']
Russiawomen=WOMENPROB['RUSSIAW']
Russia_win_both=Russiamen*Russiawomen
Russia_win_both

0.035615833289876865

Probability for Russia to win at least one of these two events

In [69]:
Russia_win_atleastone= 1-(1-Russiamen) * (1-Russiawomen)
Russia_win_atleastone

0.3441697572401

Probability for Canada to win both the men's and the women's event?

In [70]:
Canadamen=MENPROB['CANADAM']
Canadawomen=WOMENPROB['CANADAW']
Canada_win_both=Canadamen*Canadawomen
Canada_win_both

0.024085663908995615

Probability for Canada to win at least one of these two events

In [71]:
Canada_win_atleastone= 1-(1-Canadamen) * (1-Canadawomen)
Canada_win_atleastone

0.2863082728630838

Question 2 (30 points) If the US wins the men's event, what is the probability that the US wins the women's event? If the US wins at least one of these two events, what is the probability the US wins both events (not necessarily the first one)? How about Canada, China, and the ROC? Which nations are more likely to win both events if they win one of them?

If the US wins the men's event, what is the probability that the US wins the women's event?

In [72]:
US_women_winning=US_win_both/USmen
US_women_winning

0.1761714647720847

If the US wins at least one of these two events, what is the probability the US wins both events (not necessarily the first one)?

In [73]:
USwin_not_neccessarily_first=US_win_both/US_win_atleastone
USwin_not_neccessarily_first

0.09932415328761181

How about Canada, China, and the ROC? Which nations are more likely to win both events if they win one of them?

If China wins the men's event, what is the probability that the China wins the women's event?

In [74]:
China_women_winning=China_win_both/Chinamen
China_women_winning

0.13992525414864987

If the China wins at least one of these two events, what is the probability the China wins both events (not necessarily the first one)?

In [75]:
Chinawin_not_neccessarily_first=China_win_both/China_win_atleastone
Chinawin_not_neccessarily_first

0.07656047355715602

If Japan wins the men's event, what is the probability that the Japan wins the women's event?

In [76]:
Japan_women_winning=Japan_win_both/Japanmen
Japan_women_winning

0.1845134079091145

If the Japan wins at least one of these two events, what is the probability the Japan wins both events (not necessarily the first one)?

In [77]:
Japanwin_not_neccessarily_first=Japan_win_both/Japan_win_atleastone
Japanwin_not_neccessarily_first

0.1013479490384429

If Russia wins the men's event, what is the probability that the Russia wins the women's event?

In [78]:
Russia_women_winning=Russia_win_both/Russiamen
Russia_women_winning

0.21095081995093476

If the Russia wins at least one of these two events, what is the probability the Russia wins both events (not necessarily the first one)?

In [79]:
Russiawin_not_neccessarily_first=Russia_win_both/Russia_win_atleastone
Russiawin_not_neccessarily_first

0.10348333210762187

If Canada wins the men's event, what is the probability that the Canada wins the women's event?

In [80]:
Canada_women_winning=Canada_win_both/Canadamen
Canada_women_winning

0.15585657980331383

If the Canada wins at least one of these two events, what is the probability the Canada wins both events (not necessarily the first one)?

In [81]:
Canadawin_not_neccessarily_first=Canada_win_both/Canada_win_atleastone
Canadawin_not_neccessarily_first

0.08412493173228593

If Italy wins the men's event, what is the probability that the Italy wins the women's event?

In [82]:
Italy_women_winning=Italy_win_both/Italymen
Italy_women_winning

0.13258247341590243

If the Italy wins at least one of these two events, what is the probability the Italy wins both events (not necessarily the first one)?

In [85]:
Italywin_not_neccessarily_first=Italy_win_both/Italy_win_atleastone
Italywin_not_neccessarily_first

0.07887283354386058

The US wins at least one of these two events the same day that the US team of the same sex wins the hockey event gold medal.Probability the US wins both events assuming that the teams in contention to win the gold medal for the hockey event for both men and women are USA, China, Russia, Canada, and Japan and that men and women teams have the same probability to win hockey gold?

Lets Assume that the probability of US men hockey team winning gold medal the same day as skating as 1/5. Same goes
for women team with 1/5 since there are 5 teams given.

According to Bayes theorm
P(A|B)= P(B|A) * P(A) / P(B)

A: US winning both the events

B: US team of same sex wins hockey and atleast one in skating

In [104]:
PA= US_win_both
print("Probability of A: ",PA)

Probability of A:  0.0326742256443278

In [105]:
#P(B|A)
PBPA= US_win_both * US_win_atleastone /(US_win_both * US_win_atleastone + USwin_not_neccessarily_first * 0.2) #0.2 is assumed value
print("Probability of P(B|A) :", PBPA)

Probability of P(B|A) : 0.35110934511744396

In [106]:
PB= US_women_winning * US_win_atleastone
print("Probability of B: ",PB)

Probability of B:  0.05795434445221484

In [107]:
#Final answer
Required_value= PBPA*PA/PB
print("Final answer :",Required_value)

Final answer : 0.19795282090816738